body {
    padding: auto;
    margin: auto;
}

.cont-home {
    display: grid;
   grid-template-areas: 
   "nav"
   "header"
   "main"
   "footer"; 
}

}

nav {
    grid-area: nav;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

header img {
    width: 100px;
    height: 100px;
    
}


header {
    display: flex;
    align-items: flex-start;
    font-size: x-large;
    font-family: 'Beau Rivage', cursive
    
}
nav ul li{
    list-style: none;
    display: block;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
.section1-home {
    width:auto;
    height:auto;
}
.p-main {
    position: relative;
    align-items: center;
    
}
.section2-home {
    padding:  2px 60px;
    width: auto;
    height: auto;
}
img {
    width: 300px;
    height: 300px;
    padding: 2px;
    object-fit: cover;
}
span {
    color: #8a2be2;
    
}
p {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    text-align: center;
    position: relative;
    top: 50%;

}


 footer ul li {
list-style: none;
display: flex;
float: left;
padding: 20px;
 }

 footer a {
     text-decoration: none;
     color: #000000;
 }

 .main-about h2 {
     font-size: 50px;
     font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
 }
}
h2 {
    font-size: 50px;
     font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.main-store img {
    width: 100%;
    height: 100%;
   
}
.block-4-home {
    display: flex;
    justify-content: center;
    margin: 200px;
}
.titulo-block-4-home-tabla {
    color: hsl(180, 14%, 3%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    font-size: x-large;
    padding: 20px;  
    margin: 25px;
    
}
.block-4-home-tabla {
    border-radius: 20px ;
    width: 700px;
    font-size: x-large;
    font-style: oblique;
    margin-left: auto;
    margin-right: auto;
    
}
.cuadro-home {
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
}
.main-sense img{
width: 100%;
height: 100%;
}
h2 {
    text-align: center;
    font-size: xx-large;
}
@media screen and (min-width: 600px) {
 .cont-home {
        display: grid;
       grid-template-areas: 
       "header nav"
       "main main"
       "footer footer"; 
    }
    }
@media screen and  (min-width: 600px ) {
    nav a {
        display: flex;
        float: right;
    }    
}
    
@media screen and (min-width: 600px) {
    main {
        display: flex;
        align-items: flex-start;
     }
}
@media screen and (min-width: 600px) {
   .p-main{ 
    transform: translateY(50%) ;
    }
}
    
@media screen and (min-width: 600px) {
    .section2-home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
}
    
} 
@media screen and (min-width: 600px) {
    .main-store {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
}
    
}